{% extends "layouts/base.html" %}
{% block title %}{{ name }} - Valhall{% endblock%}
{% block content %}
<h1>{{ name }}</h1>
<!-- basic information (name, version, description, tags) -->
<div class="card">
    <p>{{ name }} <span>{{ version }}</span></p>
</div>
<!-- metadata, readme, versions, dependencies, dependents -->
<div class="split">
    <div class="readme">{{ readme }}</div>
    <div class="card">
        <h3>Owners</h3>
        <h3>Categories</h3>
    </div>
</div>
<!-- stats -->
{% endblock %}
