{% extends "layouts/base.html" %}
{% block title %}{{ name }} - Valhall{% endblock%}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<div class="crate">
    <!-- basic information (name, version, description, tags) -->
    <div class="card">
        <div>
            <span class="title">{{name}}</span>
            <span class="version">{{version}}</span>
        </div>
        <br>
        {% if !description.is_empty() %}
            <p>{{description}}</p>
            <br>
        {% endif %}
        <div>
            {% for tag in tags %}
                <span class="tag">#{{tag}}</span>
            {% endfor %}
        </div>
    </div>
    <!-- tab navigation -->
    <div class="tabs">
        <ul class="tab-header">
            <li><a class="active" href="/crates/{{name}}">Readme</a></li>
            <li><a href="/crates/{{name}}/versions">Versions</a></li>
            <li><a href="/crates/{{name}}/{{version}}/dependencies">Dependencies</a></li>
            <li><a href="/crates/{{name}}/{{version}}/dependents">Dependents</a></li>
            <li><a href="/crates/{{name}}/settings">Settings (only if user is author)</a></li>
        </ul>
        <div>
            <!-- metadata, readme, versions, dependencies, dependents -->
            <div class="container">
                <div class="readme card">{{ readme|safe }}</div>
                <div class="card">
                    {% if !documentation.is_empty() %}
                        <h3>Documentation</h3>
                        <a href="{{documentation}}">{{documentation}}</a>
                    {% endif %}
                    {% if !repository.is_empty() %}
                    <h3>Repository</h3>
                    <a href="{{repository}}">{{repository}}</a>
                    {% endif %}
                    <h3>Owners</h3>
                    <ul>
                        {% for owner in owners %}
                            <li>{{ owner }}</li>
                        {% endfor %}
                    </ul>
                    <h3>Categories</h3>
                </div>
            </div>
            <!-- stats -->
            <div class="stats">
                <h2>Stats</h2>
                <div class="card">
                    <h2>Overview</h2>
                    <p>Downloads all time: {{ downloads }}</p>
                    <p>Versions published {{ versions.len() }}</p>
                    <h2>Downloads</h2>
                    <ul>
                        {% for version in versions %}
                            <li>Version: {{ version.version }} | Downloads: {{ version.downloads }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>hljs.highlightAll();</script>
{% endblock %}
