:root {
    color-scheme: dark;
    /* font-family: Inter, sans-serif; */
    font-family:
        Atkinson Hyperlegible,
        sans-serif;
    font-feature-settings:
        "liga" 1,
        "calt" 1; /* fix for Chrome */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

a {
    color: inherit;
}

ul {
    margin: 4px 1.75em;
}

body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: #282828;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 2px solid #444;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 32px;
    width: 100%;
    max-width: 1024px;
    padding: 1em;
    align-items: center;

    ul {
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            margin-left: 8px;
        }
    }

    input {
        margin: 0 auto;
        width: 100%;
        background: #111;
    }
}

footer {
    text-align: center;
    margin-top: 2em;
    border-top: 2px solid #444;
    padding: 1em;
}

input {
    padding: 4px 16px;
    font-size: 18px;
    border: 1px solid #444;
    border-radius: 999px;
    background-color: transparent;

    &:focus {
        outline: 2px solid orange;
    }
}

button,
.btn {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 1em;
    border: 1px solid orange;
    text-decoration: none;
}

button.primary,
.btn,
.btn.primary {
    color: #000;
    background-color: orange;

    &:hover {
        opacity: 0.9;
    }
}

button.secondary,
.btn.secondary {
    color: #fff;
    background-color: transparent;

    &:hover {
        background-color: #444;
    }
}

.card {
    padding: 16px;
    /* border: 1px solid #444; */
    border: 2px solid #444;
    border-radius: 8px;
}

.crate {
    .title {
        font-weight: bolder;
        font-size: 32px;
        margin-right: 12px;
    }
    .version {
        font-size: 20px;
        color: #aaa;
    }
    .tag {
        color: darkorange;
    }
    .container {
        margin: 32px 0;
        display: grid;
        grid-template-columns: 7fr 3fr;
        gap: 16px;
    }
    .readme {
        box-sizing: border-box;
        /* background-color: #111; */
        border-radius: 8px;
        padding: 48px;
        img {
            max-width: 100%;
        }

        ol {
            margin-left: 1.75em;
        }

        a {
            color: darkorange;
            text-decoration: none;

            &:hover {
                /* opacity: 0.8; */
                color: orange;
            }
        }

        /* line-height: 1.5em; */
        h1,
        h2,
        h3,
        h4 {
            margin: 16px 0;
        }

        pre {
            background-color: #111 !important;
            padding: 10px 12px;
            border-radius: 4px;
            margin: 4px 0;
        }

        code {
            background-color: #111;
            padding: 2px 4px;
            border-radius: 4px;
        }
        /* max-width: 75%; */
    }

    .sidebar {
    }
}

.none {
    text-decoration: none;
    list-style: none;
}

.error {
    margin: 48px 16px 0;
    text-align: center;

    h1 {
        font-size: 5em;
    }
    h3 {
        font-size: 2em;
    }
    p {
        margin-top: 16px;
        font-size: small;
    }
}
