<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/public/styles/app.css" rel="stylesheet" />
        <link href="/public/favicon.ico" rel="icon" />
        <title>{%block title %}Axum OAuth{% endblock %}</title>
    </head>
    <body class="">
        {% include "layouts/header.html" %}
        <main class="">{% block content %} {% endblock %}</main>
        {% include "layouts/footer.html" %}
    </body>
</html>
